<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Log message format -->
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

 <!-- <logger name="org.hibernate.type" level="INFO" />
  <logger name="org.hibernate.type" level="TRACE" /> -->
  
  <logger name="org.hibernate.engine.loading.internal.CollectionLoadContext" level="ERROR"/>
  <logger name="com.ric" level="INFO"/>

  <!-- Setting the root level of logging to INFO - Здесь менять уровни логгинга в Spring Boot-->
  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>