<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- ЭТОТ файл нужен только для hibernate reverse!!
 -->
<hibernate-configuration>
    <session-factory name="ForImport">
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">lifestyle</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.100.188:1521:HOTORA</property>
        <property name="hibernate.connection.username">scott</property>
        <property name="hibernate.default_schema">FKV</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    </session-factory>
</hibernate-configuration>
