/account_base/
/base/
/bills/
/bills_base/
/bills_service/
/bills_service_async/
/capital_repair/
/capital_repair_service/
/capital_repair_service_async/
/device_metering/
/device_metering_service/
/device_metering_service_async/
/fas/
/fas_service_async/
/house_management/
/house_management_service/
/house_management_service_async/
/individual_registry_base/
/infrastructure/
/infrastructure_service/
/infrastructure_service_async/
/inspection/
/inspection_service/
/inspection_service_async/
/licenses/
/licenses_service/
/licenses_service_async/
/metering_device_base/
/msp/
/msp_service/
/msp_service_async/
/nsi/
/nsi_base/
/nsi_common/
/nsi_common_service/
/nsi_common_service_async/
/nsi_service/
/nsi_service_async/
/organizations_base/
/organizations_registry/
/organizations_registry_base/
/organizations_registry_common/
/organizations_registry_common_service/
/organizations_registry_common_service_async/
/organizations_registry_service/
/organizations_registry_service_async/
/payment/
/payment_service_async/
/payments_base/
/services/
/services_service/
/services_service_async/
/signature_test/
/signature_test_service/
